################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/DevAppTest/DevAppTest/.vs/DevAppTest/FileContentIndex/4e695353-e5e3-4787-8bfe-c835b9375baa.vsidx
